body{
    background-image: url(wp14805304.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no repeat;
    margin: 0;
    padding: 0;
}